@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*font-family: 'Roboto Slab', serif;*/

.bg-color{


  background-color: #eee;

  padding: 60px 0;


  font-family: 'Roboto Slab', serif;
}

.button {
  background-color: #11cdef;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}
.vertical-center {

  margin-top: 1.5%;


}
.backgroundForm {


  margin-right: 15px;

}

.title{


  margin-bottom: 50px;

  text-align: center;

  position: relative;
}


.title::before{

  content: "";

  width: 200px;

  height: 3px;

  background-color: #dbdbdb;

  opacity: .6;

  position: absolute;

  bottom: 15%;

  left: 50%;

  transform: translate(-50%);


}

.title::after{

  content: '\f005';

  font-family: FontAwesome;

  color: #dbdbdb;

  width: 50px;

  height: 20px;

  line-height: 20px;

  position: absolute;

  bottom: 10%;

  left: 10%;

  background-color: #eee;

  transform: translate(-50%);


  font-size: 16px;
}

.title p{

  color: #999;

  font-style: italic;

  font-weight: 700;

  margin: 0;


}


.title h1{

  font-size: 44px;

  color: #131313;

  font-weight: 900;

  text-transform: uppercase;
}


.title h1 span{

  color: #fa0;
}

.card{

  transition: all .2s ease-in-out;

  border-radius: 3px;


}

.card-main{

  position: relative;


}

.discount{

  position: relative;

  background-color: #fa0;

  font-weight: 700;

  color: #fff;

  text-align: center;

  display: block;

  text-transform: uppercase;

  height: 30px;

  width: 100px;

  border-radius: 0 15px 15px 0;

  line-height: 30px;

  font-style: italic;

  left: -9px;

  top: 30px;






}

.discount::after{

  border-top: 6px solid #c80;

  content: "";

  position: absolute;

  bottom: -6px;

  left: 0;

  border-left: 8px solid transparent;

  border-right: 0px solid transparent;
}

.label{

  position: absolute;

  bottom: 84px;

  left: 10px;

  font-size: 10px;

  font-weight: 400;

  text-transform: uppercase;

  z-index: 2;

  line-height: 100%;

  color: #fff;

  border-radius: 3px;


}


.label-green{

  background-color: #5cb85c;
}


.image img{

  width: 100%;

  height: 100%;
}


.cart-line{

  height: 2px;

  background-color: #f1f1f1;

}
.center {

  text-align: center;
}
.cart-item{

  text-align: center;

  line-height: 45px;

  background-color: #111;

  transition: all 1s ease-in-out;

  position: relative;

  top: -30px;
}


.cart-item ul{

  padding: 0px;

  margin: 0px;
}

.cart-item ul li{

  display: inline-block;

  list-style-type: none;

  position: relative;
}

.cart-item ul li::after{

  content: '';

  width: 1px;

  height: 18px;

  background:rgba(255, 255, 255, .15);
  position: absolute;

  left: -2px;

  top: 10px;

}

.cart-item ul li::after{

  content: '';

  width: 1px;

  height: 18px;

  background:rgba(255, 255, 255, .15);

  position: absolute;

  left: -2px;

  top: 10px;



}


.cart-item ul li a{


  padding: 0 18px;

  color: #ccc;
}

.cart-item ul li a:hover{

  color: #fa0;
}

.product-container{

  position: absolute;

  right: -40px;

  top: 10px;

  z-index: 4;

  transition: 0.6s;
}


.p{


  border: 1px solid rgb(233, 233, 233);

  border-radius: 2px;


  height: 40px;

  width: 40px;

  cursor: pointer;


}

.p img{


  width: 100%;

  height: 100%;

  opacity: 0.8;
}

.content {
  padding: 16px;
}

.content > mat-card {
  width: 200px;
}
.example-card {
  max-width: 400px;
}
.mat-grid-tile-custom {
  overflow: visible!important;
}


.mat-grid-tile .mat-figure {
  justify-content: flex-start !important ;
  align-items: flex-start !important;
}
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.imgfile {
  width : 150px;
  height : 150px;
  margin-left: 7%;

}

.displayMargin {
  margin-bottom : 5%;
  margin-top: 20px
}
.headercard{

  height: 33.33%;
  justify-content: flex-start;

}
.imgDivision{
  background-repeat: no-repeat;
  background-size: 1200px,200px;
}
.contentcard{height: 50%;}
.actionscard{height: 16.66%;justify-content: flex-end;float: right}

.card {
  overflow: visible!important;
  width: inherit;
  height: inherit;
  box-sizing: border-box;
  display: block;

}
.card:hover {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
}
.contentdiv {
  margin-top:-100px;
}
.btnSection {
  display: flex;
  background-color: #00b712;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btnAddCart {
  background-color: #00b712;
  background-image: linear-gradient(315deg, #00b712 0%, #5aff15 74%);
  color: white;
  height: 33px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}


.btnAddCart:hover {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
  background-color: #00b712;
  background-image: linear-gradient(315deg, #5aff15 0%, #00b712 74%);
}
mat-card-title {
  font-size: 18px;
}

mat-card-subtitle {
  font-size: 16px;
}

.disTxt {
  font-size: 14px;
  text-decoration: line-through;
}

.addBtn {
  background-color: #5aff15;

  color: white;
  height: 23px;
  width: 60px;
  text-align: center;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

mat-card-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

mat-card-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

.icnCart {
  font-size: 18px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
