<div class="header bg-gradient-info pb-5 pt-2 pt-md-5">
  <div class="container-fluid">
    <!-- <form>
         <div class="input-group no-border">
           <input type="text" value="" class="form-control" placeholder="Search...">
           <div class="input-group-append">
             <div class="input-group-text">
               <i class="ni ni-zoom-split-in"></i>
             </div>
           </div>
         </div>
       </form>-->
    <div class="row">

        <div class="col-lg-auto">
            <input type="text" class="form-control"
                   [(ngModel)]="searchNameService" placeholder="Rechercher un groupe"
                   autofocus>

        </div>

      </div>
  </div>
</div>

<form class="backgroundForm" [formGroup]="serviceForm" >
  <div class="row ">
    <div class="col-lg-12 b1">
      <div class="form-group">
     <!--   <h1 style="text-align: center">Ajouter un service</h1>-->
      </div>


    </div>

  </div>
  <div class="row">


    <div class="col-lg-6 ">
      <div class="form-group ">

        <label class="form-control-label" >Nom</label>
        <input type="text"   formControlName="nom"  class="form-control form-control-alternative" placeholder="">
        <span class="text-danger"
              *ngIf="registerFormControl.nom.untouched || registerFormControl.nom.errors?.required">
                                 Inserer le nom
                            </span>
      </div>
    </div>
    <div class="col-lg-auto  vertical-center">
      <div class="form-group ">
        <button   class="button" [disabled]="
registerFormControl.nom.errors?.required
 " (click)="putService(serviceForm)">Enregistrer</button>
        <button class="button" name="canal" (click)="refresh()" >Annuler</button>

      </div>
    </div>
  </div>




</form>



<!--
  -->

  <div class="pl-lg-4 backgroundForm">
    <div class="table-responsive">
      <table class="table align-items-center table-flush">

        <thead>
        <tr>
          <th scope="col">Nom</th>


          <th scope="col">Action</th>
        </tr>

        </thead>
           <tbody *ngFor="let service of services | ServicesFilter: searchNameService | paginate: configPagination">

        <tr>

          <td>{{service.nom}}</td>

          <td>
            <!-- <button name="supprimer" (click)="delete()">-->
            <button class="ButtonWithoutBorder" (click)="deleteService(service.id)" >
              <mat-icon>delete</mat-icon>

            </button>
            <!--<button name="modifier" (click)="confirm()">-->

          </td>

        </tr>

        </tbody>
      </table>
    </div>
    <pagination-controls   (pageChange)="pageChanged($event)"></pagination-controls>
  </div>






