.button {
  background-color: #11cdef;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.centretext{

  text-align: center;

}
.vertical-center1 {

  margin-top: 10%;
}
.vertical-center {

  margin-top: 8%;
}

.menumargin {

  margin-right: 2%;
}
.backgroundForm {
  background-color: #f0f6f5;
}
.ButtonWithoutBorder {
  border: none;
  outline: none;
  background: none;
}
.imglogo {
  width : 200px;
  height : 150px;
  border-radius: 8px;
}

.zone {
  padding: 0px;
}
.tree-demo-container {
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: auto ;
  overflow:auto;
}

.leaf-node {
  padding-left: 30px;
}

.search {
  margin-top: 4px;
  height: 52px;
}


.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.menu{
  margin-top: 10%;
}
.space{
  height:70px;
}
/*
 * This padding sets alignment of the nested nodes.
 */
.example-tree .mat-nested-tree-node .nested-node {
  padding-left: 40px;

  padding-top: 0px;
  padding-bottom: 0px;
}

/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */
.example-tree .nested-node > .mat-tree-node {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
