
  <nav class="navbar navbar-vertical navbar-expand-md navbar-light bg-white" id="sidenav-main">
  <!-- <div class="container-fluid">-->

    <a routerLinkActive="active" [routerLink]="['/homePage']">
      <img class="imglogo" src="./assets/img/brand/Archivo-logo.jpg">
    </a>
    <div class="space">
      </div>
    <div class="menu" >



      <div class="tree-demo-container ">



        <mat-tree
          class="example-tree "
          [dataSource]="nestedDataSource" [treeControl]="nestedTreeControl">

          <mat-tree-node  *ngFor="let node" matTreeNodeToggle>
            <ng-container *ngIf="node.isDeleted===false">

              <ng-container *ngIf="node.type=='Dossier'">
              <button mat-icon-button disabled>
            <mat-icon>folder</mat-icon>
                </button>
              </ng-container>
            <ng-container *ngIf="node.type=='Fichier'">
              <button mat-icon-button disabled>
              <mat-icon >insert_drive_file</mat-icon>
                </button>
            </ng-container>

            {{node.nom}}

            <button  mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon class="menumargin">more_vert</mat-icon>
            </button>

            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="afficher(node.id)">
                <mat-icon>input</mat-icon>
                <span>Afficher</span>
              </button>
              <ng-container *ngIf="typeUser=='Creator'">
                <ng-container *ngIf="node.type=='Dossier'">
              <button mat-menu-item (click)="openWriteElement(contentAddElement )">
                <mat-icon>create</mat-icon>
                <span>Ajouter</span>
              </button>
                  </ng-container>
              <button mat-menu-item (click)="copier(node.id)">
                <mat-icon>file_copy</mat-icon>
                <span>Copier</span>
              </button>
              <button mat-menu-item (click)="couper(node.id)">
                <mat-icon>file_copy</mat-icon>
                <span>Couper</span>
              </button>
              <ng-container *ngIf="node.type=='Dossier'">
              <button mat-menu-item [disabled]="indexCopierOrCouper==0" (click)="coller(node.id)" >
                <mat-icon>file_copy</mat-icon>
                <span>Coller</span>
              </button>
                </ng-container>
              <button mat-menu-item   (click)="deleteElement(node.id)"  >
                <mat-icon>clear</mat-icon>
                <span>Supprimer</span>
              </button>
              </ng-container>
            </mat-menu>
            <ng-template #contentAddElement let-modal class="modal-lg" >



              <div class="modal-header ">
                <h4 class="modal-title" id="modal-basic-title">Element</h4>
                <button type="button" class="btn-close" aria-label="Close" aria-hidden="true" (click)="modal.dismiss('Cross click')">x</button>
              </div>
              <div class="modal-body">
                <form  [formGroup]="myElementForm" >
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label">Nom   :</label>
                        <input type="text"   formControlName="nom"  class="form-control form-control-alternative" placeholder="">
                            <span class="text-danger"
                              *ngIf="registerFormControl.nom.untouched || registerFormControl.nom.errors?.required">
                                Name is required
                            </span>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label"> Titre  :</label>

                        <input type="text"   formControlName="titre"  class="form-control form-control-alternative" placeholder="">
                          <span class="text-danger"
                             *ngIf="registerFormControl.titre.untouched || registerFormControl.titre.errors?.required">
                               Title is required
                           </span>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-auto">
                      <div class="form-group">
                        <label class="form-control-label">Description</label>
                        <input type="text"   formControlName="description"  class="form-control form-control-alternative" placeholder="">
                          <span class="text-danger"
                             *ngIf="registerFormControl.description.untouched || registerFormControl.description.errors?.required">
                               Description is required
                           </span>
                      </div>
                    </div>
                    <ng-container *ngIf="showFileInput">
                    <div class="col-lg-auto">
                      <div class="form-group">
                        <label class="form-control-label">Fichier</label>
                        <input type="file"   formControlName="path"  class="form-control form-control-alternative" placeholder="">
                          <span class="text-danger"
                             *ngIf="registerFormControl.path.untouched || registerFormControl.path.errors?.required">
                               File is required
                           </span>
                      </div>
                    </div>
                      </ng-container>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label">Date</label>
                        <input type="date"   formControlName="date"  class="form-control form-control-alternative" placeholder="">
                          <span class="text-danger"
                             *ngIf="registerFormControl.date.untouched || registerFormControl.date.errors?.required">
                               Date is required
                           </span>
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label">Type</label>
                        <select formControlName="type" class="form-control form-control-alternative" (click)="togglefile(myElementForm)" >

                          <option  value=Dossier >Dossier </option>
                          <option  value=Fichier >Fichier  </option>

                        </select>
                         <span class="text-danger"
                             *ngIf="registerFormControl.type.untouched || registerFormControl.type.errors?.required">
                               Type is required
                           </span>
                      </div>
                    </div>

                  </div>




                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">

                          <button class="button"   [disabled]="
registerFormControl.nom.errors?.required ||
registerFormControl.titre.errors?.required ||
registerFormControl.description.errors?.required ||

registerFormControl.date.errors?.required ||

registerFormControl.type.errors?.required  "(click)="putElement(myElementForm,node.id)" >

                         Enregistrer
                       </button>

                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">


                        <button class="button" (click)="modal.dismiss('Cross click')">
                          Annuler
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                  </form>
              </div>

            </ng-template>

           </ng-container>
          </mat-tree-node>
          <mat-nested-tree-node   *matTreeNodeDef="let node; when: hasNestedChild">
              <ng-container *ngIf="node.isDeleted===false">

                   <div class="mat-tree-node">


                  <button mat-icon-button matTreeNodeToggle>
                    <ng-container *ngIf="node.type=='Dossier'">
                      <mat-icon>

                        {{ nestedTreeControl.isExpanded(node) ? "folder": "folder_open" }}

                      </mat-icon>
                    </ng-container>
                    <ng-container *ngIf="node.type=='Fichier'">
                        <mat-icon >insert_drive_file</mat-icon>

                    </ng-container>


                  </button>

                  {{node.nom}}

                         <button  mat-icon-button [matMenuTriggerFor]="menu">

                    <mat-icon class="menumargin">more_vert</mat-icon>
                  </button>


                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="afficher(node.id)">
                      <mat-icon>input</mat-icon>
                      <span>Afficher</span>
                    </button>
                    <ng-container *ngIf="typeUser=='Creator'">
                      <ng-container *ngIf="node.type=='Dossier'">
                    <button mat-menu-item (click)="openWriteElement(contentAddElement1 )">
                      <mat-icon>create</mat-icon>
                      <span>Ajouter</span>
                    </button>
                        </ng-container>
                    <button mat-menu-item (click)="copier(node.id)">
                      <mat-icon>file_copy</mat-icon>
                      <span>Copier</span>
                    </button>
                    <button mat-menu-item (click)="couper(node.id)">
                      <mat-icon>file_copy</mat-icon>
                      <span>Couper</span>
                    </button>
                    <ng-container *ngIf="node.type=='Dossier'">
                    <button mat-menu-item [disabled]="indexCopierOrCouper==0" (click)="coller(node.id)">
                      <mat-icon>file_copy</mat-icon>
                      <span>Coller</span>
                    </button>
                      </ng-container>
                    <button mat-menu-item   (click)="deleteElement(node.id)"  >
                      <mat-icon>clear</mat-icon>
                      <span>Supprimer</span>
                    </button>
                    </ng-container>
                  </mat-menu>
                   </div>

                   <div class="nested-node"
                        [class.example-tree-invisible]="!nestedTreeControl.isExpanded(node)">

                     <ng-container matTreeNodeOutlet></ng-container>

                   </div>
                   <ng-template #contentAddElement1 let-modal class="modal-lg" >



                     <div class="modal-header ">
                       <h4 class="modal-title" id="modal-basic-title">Element</h4>
                       <button type="button" class="btn-close" aria-label="Close" aria-hidden="true" (click)="modal.dismiss('Cross click')">x</button>
                     </div>
                     <div class="modal-body">
                       <form  [formGroup]="myElementForm" >
                         <div class="pl-lg-4">
                           <div class="row">
                             <div class="col-lg-6">
                               <div class="form-group">
                                 <label class="form-control-label">Nom   :</label>
                                 <input type="text"   formControlName="nom"  class="form-control form-control-alternative" placeholder="">
                                 <span class="text-danger"
                                       *ngIf="registerFormControl.nom.untouched || registerFormControl.nom.errors?.required">
                                       Name is required
                                   </span>
                               </div>
                             </div>
                             <div class="col-lg-6">
                               <div class="form-group">
                                 <label class="form-control-label"> Titre  :</label>

                                 <input type="text"   formControlName="titre"  class="form-control form-control-alternative" placeholder="">
                                 <span class="text-danger"
                                       *ngIf="registerFormControl.titre.untouched || registerFormControl.titre.errors?.required">
                                       Title is required
                                   </span>
                               </div>
                             </div>
                           </div>

                           <div class="row">
                             <div class="col-lg-6">
                               <div class="form-group">
                                 <label class="form-control-label">Description</label>
                                 <input type="text"   formControlName="description"  class="form-control form-control-alternative" placeholder="">
                                 <span class="text-danger"
                                       *ngIf="registerFormControl.description.untouched || registerFormControl.description.errors?.required">
                                       Description is required
                                   </span>
                               </div>
                             </div>

                             <ng-container *ngIf="showFileInput">
                               <div class="col-lg-6">
                                 <div class="form-group">
                                   <label class="form-control-label">Fichier</label>

                                   <input type="file" formControlName="path" class="form-control form-control-alternative"  (change)="handleFileInput($any($event.target).files)" >
                                   <span class="text-danger"
                                         *ngIf="registerFormControl.path.untouched || registerFormControl.path.errors?.required">
                                      File is required
                                  </span>
                                 </div>
                               </div>
                             </ng-container>
                           </div>
                           <div class="row">
                             <div class="col-lg-6">
                               <div class="form-group">
                                 <label class="form-control-label">Date</label>
                                 <input type="date"   formControlName="date"  class="form-control form-control-alternative" placeholder="">
                                 <span class="text-danger"
                                       *ngIf="registerFormControl.date.untouched || registerFormControl.date.errors?.required">
                                       Date is required
                                   </span>
                               </div>
                             </div>

                             <div class="col-lg-6">
                               <div class="form-group">
                                 <label class="form-control-label">Type</label>
                                 <select formControlName="type" class="form-control form-control-alternative" (click)="togglefile(myElementForm)">

                                   <option  value=Dossier>Dossier </option>
                                   <option  value=Fichier>Fichier  </option>

                                 </select>
                                 <span class="text-danger"
                                       *ngIf="registerFormControl.type.untouched || registerFormControl.type.errors?.required">
                                       Type is required
                                   </span>
                               </div>
                             </div>

                           </div>




                           <div class="row">
                             <div class="col-lg-6">
                               <div class="form-group">

                                 <button class="button"  class="button" [disabled]="
       registerFormControl.nom.errors?.required ||
       registerFormControl.titre.errors?.required ||
       registerFormControl.description.errors?.required ||

       registerFormControl.date.errors?.required ||

       registerFormControl.type.errors?.required  " (click)="putElement(myElementForm,node.id)" >

                                   Enregistrer
                                 </button>
                                 <!--           <button (click)="submitFile()">add</button>-->
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">


                          <button class="button" (click)="modal.dismiss('Cross click')">
                            Annuler
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>

            </ng-template>
             </ng-container>

          </mat-nested-tree-node>


        </mat-tree>

      </div>

  </div>
    <!-- </div>-->
</nav>


<div class="main-content">
  <app-navbar></app-navbar>

<div class="header bg-gradient-info pb-5 pt-2 pt-md-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-auto ">
      <select [(ngModel)]="ElementCol" class="form-control form-control-alternative search" >

        <option  value=nom >Nom </option>
        <option  value=titre >Titre  </option>
        <option  value=description >Description </option>
        <option  value=date >date  </option>
      </select>
      </div>

        <ng-container *ngIf="ElementCol==''||ElementCol=='nom'||ElementCol=='titre'||ElementCol=='description'">
          <div class="col-lg-auto ">
        <input type="text" class="form-control search"
               [(ngModel)]="searchElement" placeholder="Rechercher un element"
               autofocus>
          </div>
          </ng-container>
        <ng-container *ngIf="ElementCol=='date'">
          <div class="col-lg-auto ">
          <input type="text" class="form-control search"
                 [(ngModel)]="searchElement" placeholder="xxxx-xx-xx"
                 autofocus>
          </div>
        </ng-container>

      <ng-container *ngIf="typeUser==='Creator'">
        <ng-container *ngIf="history===true">
      <div class="col-lg-auto">
        <button class="button form-control-alternative"  (click)="getHistory()">Historique</button>
      </div>
        </ng-container>
        <ng-container *ngIf="history===false">
          <div class="col-lg-auto">
            <button class="button form-control-alternative"  (click)="getHistory()">Retour</button>
          </div>
        </ng-container>
        <div class="col-lg-auto">
          <div class="form-group">
            <button class="button form-control-alternative"  (click)="openWriteElement(contentAddDivision)">Nouveau dossier</button>
            <ng-template #contentAddDivision let-modal class="modal-lg" >



              <div class="modal-header ">
                <h4 class="modal-title" id="modal-basic-title">Division</h4>
                <button type="button" class="btn-close" aria-label="Close" aria-hidden="true" (click)="modal.dismiss('Cross click')">x</button>
              </div>
              <div class="modal-body">
                <form  [formGroup]="myElementForm" >
                  <div class="pl-lg-4">
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label">Nom   :</label>
                          <input type="text"   formControlName="nom"  class="form-control form-control-alternative" placeholder="">
                          <span class="text-danger"
                                *ngIf="registerFormControl.nom.untouched || registerFormControl.nom.errors?.required">
                                Name is required
                            </span>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label"> Titre  :</label>

                          <input type="text"   formControlName="titre"  class="form-control form-control-alternative" placeholder="">
                          <span class="text-danger"
                                *ngIf="registerFormControl.titre.untouched || registerFormControl.titre.errors?.required">
                               Title is required
                           </span>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-auto">
                        <div class="form-group">
                          <label class="form-control-label">Description</label>
                          <input type="text"   formControlName="description"  class="form-control form-control-alternative" placeholder="">
                          <span class="text-danger"
                                *ngIf="registerFormControl.description.untouched || registerFormControl.description.errors?.required">
                               Description is required
                           </span>
                        </div>
                      </div>


                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label">Date</label>
                          <input type="date"   formControlName="date"  class="form-control form-control-alternative" placeholder="">
                          <span class="text-danger"
                                *ngIf="registerFormControl.date.untouched || registerFormControl.date.errors?.required">
                               Date is required
                           </span>
                        </div>
                      </div>



                    </div>
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label">Image   :</label>
                          <input type="file" formControlName="img" class="form-control form-control-alternative"  (change)="handleFileInput($any($event.target).files)" >

                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group">

                          <button class="button"   [disabled]="
registerFormControl.nom.errors?.required ||
registerFormControl.titre.errors?.required ||
registerFormControl.description.errors?.required ||

registerFormControl.date.errors?.required  " (click)="putDivision(myElementForm)" >

                            Enregistrer
                          </button>

                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">


                          <button class="button" (click)="modal.dismiss('Cross click')">
                            Annuler
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>

            </ng-template>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
  <ng-container *ngIf="history===true">
  <app-user-Elements [ElementCol]="ElementCol"
  [searchElement]="searchElement"
                     [affichageId]="affichageId"

  ></app-user-Elements>
  </ng-container>
  <ng-container *ngIf="history===false">
    <app-user-History [ElementCol]="ElementCol"
                      [searchElement]="searchElement"

    ></app-user-History>
  </ng-container>
  <div class="container-fluid">
    <app-footer></app-footer>
  </div>
</div>
